.smallBigCardContainer {
	position: relative;
	width: 100%;
	height: 400px;
}

.smallCard {
	width: 30%;
	height: 60%;
	z-index: 2;
}

.smallCard.left {
	left: 20%;
}

.smallCard.right {
	left: 80%;
}

.bigCard {
	width: 70%;
	z-index: 1;
	height: 90%;
	/* center */
	left: 50%;
}

.smallBigCard {
	transform: translate(-50%, -50%);
	top: 50%;
	position: absolute;
	border-radius: 25px;
	overflow: hidden;
}

@media only screen and (max-width: 768px) {
	.smallBigCardContainer {
		height: 300px;
	}

	.smallCard {
		width: 40%;
		height: 35%;
		border-radius: 10px;
	}

	.smallCard.left {
		left: 50%;
		top: 10%;
	}

	.smallCard.right {
		left: 50%;
		top: 10%;
	}

	.bigCard {
		width: 80%;
		height: 60%;
		font-size: 12px;
		bottom: 0;
	}

	.bigCard h1 {
		font-size: 20px;
	}
}
