

.square-holder {
    padding:30px;
    border: 1px solid #cecece;
    align-items: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
    background-color:#f1f1f1;
    height:150px;
    border-radius: 25px;
  }
  @media only screen and (max-width: 768px) {
    .square-holder {
      padding:10px;
      border: transparent;
    
      align-items: center;
      display:flex;
      align-items: center;
      justify-content: center;
      margin-bottom:20px;
      background-color: black;
      height:150px;
      border-radius: 25px;
    }
    }
  .row {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  @media only screen and (max-width: 768px)  {
    .row {
      /*display: block;*/
    }
  }
  .square-holder img {
    width:100%;
    filter: grayscale(100%);
    transition: all 0.1s;
   
  }
  @media only screen and (max-width: 768px) {
    .square-holder img {
      width: 100%; 
      filter: drop-shadow(2px 4px 6px black);/* Increase image width to full container width */
     
    }
  }
  
  .square-holder:hover img{
    filter:none;
  }
  







