::-webkit-scrollbar {
  width: 7px;
  height : 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}


.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: -1px;
  position: relative;
  left: -5px;
}

.intelligent-store .text {
  color: black;
  margin-bottom: 20px;
  width: 75%; /* Adjust as needed */
}
.product1 {

    display: flex;
    align-items: center;
    justify-content: center
  }
.product2{
  display: flex;
  align-items: center;
  justify-content: space-between;

}



  
  .intelligent-store text {
    font-size: 10px;
    padding-left: 20px;
    position: 'relative';
    left: '20%' 
  }

.intelligent-store img {
  width: 40%;
  border-radius: 1rem;
}
/* XRproduct.css */

/* Add styling for the h1 elements inside the XRProduct component */
.intelligent-store .products .text h1 {
  font-size: 24px; /* Adjust the font size as needed */
  color: black; /* Set the text color */
  
}
.product3 {
  display: flex;
    align-items: center;
    justify-content: center
}


/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .intelligent-store img {
    width: 50%; /* Adjust as needed for smaller screens */
  }
}
