.ai-interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 50px;
    width: 100%;
    height: 100%;
}

.text-content {
    flex: 1;
    padding-right: 50px;
    font-size: 50px; /* Adjust as needed */
}

.image-content {
    flex: 1;
    position: relative;
  left: 15px;
    
}

.ai-interface h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.ai-interface p {
    font-size: 1rem;
    margin: 20px 0;
}

.buttons {
    margin-top: 30px;
}

.enquire-btn,
.consult-btn {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px; /* Adds space between the buttons */
}

.enquire-btn {
    background-color: #00FF00; /* Green background for 'Enquire Now' button */
    color: white;
}

.consult-btn {
    background: transparent;
    color: #00FF00; /* Green text for 'Book a Consultation' button */
    border: 2px solid #00FF00;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .ai-interface {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        padding-right: 0;
        margin-bottom: 50px;
    }

    .image-content img {
        max-width: 100%;
        height: auto;
    }
}
.ai-interface p {
    font-size: 1.2rem;
    margin: 20px 0;
}