.ai-interface {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: space-between;
	background-color: black;
	color: white;
	padding-top: 100px;
	width: 90%;
	height: 100%;
	padding: 20px;
}

.text-content {
	font-size: 50px; /* Adjust as needed */
	width: 100%;
}

.image-content {
	position: relative;
	left: 15px;
}

.ai-interface h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

.ai-interface p {
	font-size: 1rem;
}

.buttons {
	margin-top: 30px;
}

.enquire-btn,
.consult-btn {
	padding: 10px 30px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	margin-right: 10px; /* Adds space between the buttons */
}

.enquire-btn {
	background-color: #00ff00; /* Green background for 'Enquire Now' button */
	color: white;
}

.consult-btn {
	background: transparent;
	color: #00ff00; /* Green text for 'Book a Consultation' button */
	border: 2px solid #00ff00;
}

.ai-interface p {
	font-size: 1.2rem;
	margin: 20px 0;
}
/* AIInterface.css */

.blue-text {
	color: #1829c2;
}

@media screen and (max-width: 691px) {
	.ai-interface {
		grid-template-rows: 0.5fr 1fr;
		grid-template-columns: 1fr;
	}
}
