.intelligent-store {
    position: relative;
  }
  
  .intelligent-store .text {
    position: relative;
    left: 20%; /* Adjust the percentage as needed */
    color: white;
  }
  
  .intelligent-store .text {
    margin-bottom: 0;
    position: relative;
    left: 45%; /* Adjust the percentage as needed */
    color: white;
    top: -250px;
  }
  
  .intelligent-store img {
    left: 5%; /* Adjust the percentage as needed */
    width: 30%; /* Adjust the percentage as needed */
    position: relative;
    border-radius: 1rem;
  }
  
  /* Media Query for smaller screens */
  @media only screen and (max-width: 768px) {
    .intelligent-store .text {
      left: 0;
    }
  
    .intelligent-store .text {
      left: 0;
      top: 0;
    }
  
    .intelligent-store img {
      left: 0;
      width: 100%;
    }
  }
  