.split-container {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap to the next line on small screens */
    width: 100%;
     /* Adjust min-height as needed */
    background: black; 
}

.split {
    flex: 1; /* Allow the split elements to grow and shrink as needed */
    overflow: hidden;
}

.left1 {
    background-color: black;
    padding: 5%; /* Adjust padding using percentage for responsiveness */
    color: white;
    /* Additional styling for the text side */
}

.left1 p {
    color: white;
    margin-top: 2%; /* Adjust margin using percentage for responsiveness */
    position: relative;
    top: 2%; /* Adjust top using percentage for responsiveness */
    left: 2%; /* Adjust left using percentage for responsiveness */
}

.left1 h1 {
    color: white;
}

.right1 {
    background-color: #ddd;
}

.underline {
    width: 50px;
    height: 4px;
    background-color: #6c7ae0;
    margin-bottom: 2%; /* Adjust margin using percentage for responsiveness */
}

/* Add responsive design as needed */
@media screen and (max-width: 768px) {
    .split-container {
        flex-direction: column;
    }

    .split {
        width: 100%;
    }

    .left1 {
        padding: 10%; /* Adjust padding for smaller screens */
        text-align: center; /* Center the text */
    }

    .left1 p {
        position: static;
        margin-top: 5%; /* Adjust margin for smaller screens */
        top: 0; /* Reset top position */
        left: 0; /* Reset left position */
    }
}


