.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Assuming a dark background */
    padding: 20px; /* Adjust as needed */
    color: #fff; /* Assuming white text */
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item img {
    margin-right: 10px;
    width: 8%; /* Space between icon and text */
}

.contact-item.address {
    flex-grow: 1; /* Allows the address to take up more space if needed */
     /* Background color for the address box */
    padding: 10px; /* Padding inside the address box */
    margin-left: 20px; /* Space before the address box */
}

.contact-item span {
    white-space: nowrap; /* Prevents the text from wrapping */
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-item {
        margin-bottom: 10px; /* Adds space between items when stacked */
    }

    .contact-item.address {
        margin-left: 0; /* Resets margin for mobile */
    }
}


