.cave {
    display: flex;
    width: 100%; /* Adjust the width as needed */
   
    margin: auto; /* Center the section */
    max-width: 100%; /* Ensure it does not exceed the width of the page */
    overflow: hidden; /* Prevent overflow */
    top : -1%;
  }
  @media screen and (max-width: 768px) {
    .cave {
      flex-direction: column; /* Stack the columns vertically on small screens */
      align-items: center; /* Center align the items */
    }

  }
  .video-column {
    flex: 1;
    position: relative; /* Relative positioning for the video */
    background: #000;
    border-radius: 25px;/* Rounded corners on the left side only */
  }
  
  .video-column video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    opacity: 0.6;
    border-radius: 25px;
  }
  
  .text-column {
    flex: 1;
    padding: 20px;
    background: black;
    border-radius: 0 1rem 1rem 0; /* Rounded corners on the right side only */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the paragraph vertically */
  }
  
  /* Add styles for the paragraph if needed */
  .text-column p {
    margin: 0;
    color : white;
     /* Remove default margin */
    /* Add more styles if necessary */
  }
  /* Cave.css */
/* ... existing styles ... */
.title{
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: cornflowerblue;
    font-weight: 600;
    line-height: 60px;
}
.h1-separator {
  background: rgb(21,16,89);
  background: linear-gradient(90deg, rgba(21,16,89,1) 0%, rgba(17,17,140,1) 28%, rgba(49,171,198,1) 100%, rgba(35,124,142,1) 100%);
    /* Making the text transparent so that the gradient shows through */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  
    /* Additional styling to make the gradient look good */
    font-size: 2em; /* Adjust size as needed */
    font-weight: bold; /* Space between text and line */
  }
  
  /* Styling for the "Read More" button */
  .cavebutton {

        display: inline-block; /* Equivalent of 'inline-block' */
        border-radius: 0.25rem; /* Equivalent of 'rounded' (this is an estimate, Tailwind's 'rounded' uses specific pixel values) */
        background: transparent;
        /*background: linear-gradient(90deg, rgba(21,16,89,1) 0%, rgba(17,17,140,1) 28%, rgba(49,171,198,1) 100%, rgba(35,124,142,1) 100%); /* Gradients for 'bg-gradient-to-r', 'from-pink-500', 'via-red-500', 'to-yellow-500' */
        padding: 1px; /* Equivalent of 'p-[2px]' */
        outline: none; /* Part of 'focus:outline-none' */
        transition: color 0.3s ease, opacity 0.3s ease;
        margin-left: 70%;
        margin-top: 1%; /* Smooth transition for hover and active states */
    
  }
  
  /* Hide the paragraph content initially */
  .collapsible-content {
    display: none;
    overflow: hidden;
  }
  
  /* When .expanded class is added, show the content */
  .expanded {
    display: block;
  }
  
  